<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>

    {% if site.social.links %}
      <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% else %}
      <em class="fst-normal">{{ site.social.name }}</em>.
    {% endif %}

    <span
    data-bs-toggle="tooltip"
    data-bs-placement="top"
    >
        All rights reserved.
    </span>
  </p>

  <p>
   Stop suffering from mediocracy. Be a <a href="https://www.betterprofessional.org" target="_blank">Better Professional</a>.
  </p>
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e81483774c214218b2184b26b6cc5668"}'></script><!-- End Cloudflare Web Analytics -->
</footer>